In [3]:
!pip install pandas
import pandas

Requirement already satisfied: pandas in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (1.3.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.21.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: six>=1.5 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [5]:
!pip install sqlite3
import sqlite3

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [6]:
import csv, sqlite3

In [7]:
connection = sqlite3.connect("FinalDB.db")
cur = connection.cursor()

In [11]:
pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.9.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: ipython in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (7.25.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.23-cp39-cp39-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ---------------------------------------- 41.2/41.2 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: six in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.2.0)
Collecting typing-extensions>=4.2.0 (from sqlalchemy>=2.0->ipython-sql)
  Downloading typing_extensions-4.9.0-py3-none-any.whl.metadata (3.0 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy>=2.0->ipython-sql)
  Downloading greenlet-3.0.2-cp39-cp39-win_amd64.whl.metadata (3.8 kB)
Requirement already satisfied: setuptools>=18.5 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (56.0.0)
Requirement already satisfied: jedi>=0.16 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (0.18.0)
Requirement already satisfied: decorator in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (5.0.9)
Requirement already satisfied: pickleshare in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (5.13.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (3.0.19)
Requirement already satisfied: pygments in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (2.9.0)
Requirement already satisfied: backcall in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: colorama in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from ipython->ipython-sql) (0.4.4)
Requirement already satisfied: wcwidth in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.2)
Downloading SQLAlchemy-2.0.23-cp39-cp39-win_amd64.whl (2.1 MB)
   ---------------------------------------- 2.1/2.1 MB 4.0 MB/s eta 0:00:00
Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Downloading greenlet-3.0.2-cp39-cp39-win_amd64.whl (287 kB)
   ---------------------------------------- 287.4/287.4 kB 5.9 MB/s eta 0:00:00
Downloading typing_extensions-4.9.0-py3-none-any.whl (32 kB)
Installing collected packages: typing-extensions, sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql
Successfully installed greenlet-3.0.2 ipython-sql-0.5.0 prettytable-3.9.0 sqlalchemy-2.0.23 sqlparse-0.4.4 typing-extensions-4.9.0
Note: you may need to restart the kernel to use updated packages.

In [12]:
%load_ext sql
%sql sqlite:///FinalDB.db

In [14]:
df1 = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df1.to_sql("Chicago_Census_Data", connection, if_exists='replace', index=False, method="multi")

In [15]:
df2 = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df2.to_sql("Chicago_Public_Schools", connection, if_exists='replace', index=False, method="multi")

OperationalError: too many SQL variables

In [17]:
%sql SELECT count(community_area_number) as total_number_of_crimes FROM Chicago_Census_Data

 * sqlite:///FinalDB.db
Done.

[(77,)]