# Import SQLite module for Database

In [3]:
import sqlite3

# Creating connection for a database and create a one if not already created

In [4]:
connection = sqlite3.connect('HR.db')

# create a cursor

In [5]:
my_cursor = connection.cursor()

# excecute a sql command using CURSOR

In [24]:
my_cursor.execute("""
                  CREATE TABLE customer(
                       f_name real,
                       l_name text,
                       email text
    )""")

OperationalError: table customer already exists

In [5]:
my_cursor.execute("INSERT INTO customer VALUES ('alok', 'ranjan', 'alok.ranjan@gmail.com')")

In [6]:
connection.commit()

In [12]:
many_customers = [
    ('neha', 'noopur', 'neha@noopur@gmail.com'),
    ('ashish', 'ranjan', 'ashish@noopur@gmail.com'),
    ('avinash', 'ranjan', 'avinash@noopur@gmail.com'),
    ('aarul', 'ranjan', 'aarul@noopur@gmail.com')
]

In [13]:
my_cursor.executemany("INSERT INTO customer VALUES (?,?,?)", many_customers)

In [14]:
connection.commit()

In [15]:
my_cursor.execute("SELECT * FROM customer")
items = my_cursor.fetchall()

for item in items:
    print(item)

('alok', 'ranjan', 'alok.ranjan@gmail.com')
('neha', 'noopur', 'neha@noopur@gmail.com')
('ashish', 'ranjan', 'neha@noopur@gmail.com')
('avinash', 'ranjan', 'neha@noopur@gmail.com')
('arul', 'ranjan', 'neha@noopur@gmail.com')
('alok', 'ranjan', 'alok.ranjan@gmail.com')
('neha', 'noopur', 'neha@noopur@gmail.com')
('ashish', 'ranjan', 'neha@noopur@gmail.com')
('avinash', 'ranjan', 'neha@noopur@gmail.com')
('arul', 'ranjan', 'neha@noopur@gmail.com')
('neha', 'noopur', 'neha@noopur@gmail.com')
('ashish', 'ranjan', 'ashish@noopur@gmail.com')
('avinash', 'ranjan', 'avinash@noopur@gmail.com')
('aarul', 'ranjan', 'aarul@noopur@gmail.com')

# update data

In [8]:
my_cursor.execute("""UPDATE customer SET l_name='roshan' WHERE f_name='alok'
""")

In [9]:
connection.commit()

# Deleting records

In [10]:
my_cursor.execute("DELETE FROM customer WHERE f_name='alok'")

In [11]:
connection.commit()

# order by

In [18]:
my_cursor.execute("SELECT * FROM customer ORDER BY f_name")
items = my_cursor.fetchall()
for item in items:
    print(item)

('aarul', 'ranjan', 'aarul@noopur@gmail.com')
('arul', 'ranjan', 'neha@noopur@gmail.com')
('arul', 'ranjan', 'neha@noopur@gmail.com')
('ashish', 'ranjan', 'neha@noopur@gmail.com')
('ashish', 'ranjan', 'neha@noopur@gmail.com')
('ashish', 'ranjan', 'ashish@noopur@gmail.com')
('avinash', 'ranjan', 'neha@noopur@gmail.com')
('avinash', 'ranjan', 'neha@noopur@gmail.com')
('avinash', 'ranjan', 'avinash@noopur@gmail.com')
('neha', 'noopur', 'neha@noopur@gmail.com')
('neha', 'noopur', 'neha@noopur@gmail.com')
('neha', 'noopur', 'neha@noopur@gmail.com')

# limit

In [23]:
my_cursor.execute("SELECT * FROM customer LIMIT 5")
items = my_cursor.fetchall()
for item in items:
    print(item)

('neha', 'noopur', 'neha@noopur@gmail.com')
('ashish', 'ranjan', 'neha@noopur@gmail.com')
('avinash', 'ranjan', 'neha@noopur@gmail.com')
('arul', 'ranjan', 'neha@noopur@gmail.com')
('neha', 'noopur', 'neha@noopur@gmail.com')

# Get list of tables in database

In [39]:
my_cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
items = my_cursor.fetchall()

In [40]:
print(items)

[('customer',)]