# Import SQLite module for Database

In [22]:
import sqlite3

# Creating connection for a database and create a one if not already created

In [30]:
connection = sqlite3.connect('HR.db')
my_cursor = connection.cursor()

# create a cursor

In [34]:
my_cursor.execute("""
                  CREATE TABLE customer(
                       f_name text,
                       l_name text,
                       email text
    )""")

In [36]:
my_cursor.execute("INSERT INTO customer VALUES ('alok', 'ranjan', 'alok.ranjan@gmail.com')")

In [37]:
connection.commit()

In [38]:
many_customers = [
    ('neha', 'noopur', 'neha@noopur@gmail.com'),
    ('ashish', 'ranjan', 'neha@noopur@gmail.com'),
    ('avinash', 'ranjan', 'neha@noopur@gmail.com'),
    ('arul', 'ranjan', 'neha@noopur@gmail.com')
]

In [40]:
my_cursor.executemany("INSERT INTO customer VALUES (?,?,?)", many_customers)

In [41]:
connection.commit()

In [54]:
my_cursor.execute("SELECT * FROM customer")
items = my_cursor.fetchall()

for item in items:
    print("")