# 1. Read data

## Importing required library

In [228]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (1.3.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.21.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2023.3.post1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: six>=1.5 in c:\users\noopu\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

## Importing required module from the downloaded library

In [229]:
import pandas as pd

## Reading csv flie from online github repository

In [230]:
data = pd.read_csv('https://gist.githubusercontent.com/rnirmal/e01acfdaf54a6f9b24e91ba4cae63518/raw/6b589a5c5a851711e20c5eb28f9d54742d1fe2dc/datasets.csv')
data

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN
...,...,...,...,...,...,...
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

## adding prefix to all column names

In [231]:
data.add_prefix('x_')

,x_datasetName,x_about,x_link,x_categoryName,x_cloud,x_vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN
...,...,...,...,...,...,...
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

## Adding suffix to all column names

In [232]:
data.add_suffix('_Y')

,datasetName_Y,about_Y,link_Y,categoryName_Y,cloud_Y,vintage_Y
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN
...,...,...,...,...,...,...
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

## Filter data

In [233]:
data[['datasetName']] # Filtering with 1 Column by providing name of the column

           datasetName
0   Microbiome Project
1                GloBI
2       Global Climate
3      CommonCraw 2012
4    Indiana Webclicks
..                 ...
56      ClueWeb12 FACC
57       Google Ngrams
58          EDRM Enron
59             GetGlue
60      Twitter RepLab

[61 rows x 1 columns]

In [234]:
data[['datasetName','about']] # Filtering with 2 Columns by providing name of the columns

           datasetName                                            about
0   Microbiome Project                American Gut (Microbiome Project)
1                GloBI               Global Biotic Interactions (GloBI)
2       Global Climate                   Global Climate Data Since 1929
3      CommonCraw 2012              3.5B Web Pages from CommonCraw 2012
4    Indiana Webclicks  53.5B Web clicks of 100K users in Indiana Univ.
..                 ...                                              ...
56      ClueWeb12 FACC                                   ClueWeb12 FACC
57       Google Ngrams                      Google Books Ngrams (2.2TB)
58          EDRM Enron      EDRM Enron EMail of 151 users, hosted on S3
59             GetGlue                  GetGlue - users rating TV shows
60      Twitter RepLab    Twitter Data for Online Reputation Management

[61 rows x 2 columns]

### `[Data + column row]` or  `[Data + row column]`

In [235]:
data[['datasetName','about']][0:6] # Filtering with 2 Columns by providing name of the columns, and 6 rows only

            datasetName                                            about
0    Microbiome Project                American Gut (Microbiome Project)
1                 GloBI               Global Biotic Interactions (GloBI)
2        Global Climate                   Global Climate Data Since 1929
3       CommonCraw 2012              3.5B Web Pages from CommonCraw 2012
4     Indiana Webclicks  53.5B Web clicks of 100K users in Indiana Univ.
5  Criteo click-through                        Criteo click-through data

In [236]:
data[0:6][['datasetName','about']] # Filtering with 2 Columns by providing name of the columns, and 6 rows only

            datasetName                                            about
0    Microbiome Project                American Gut (Microbiome Project)
1                 GloBI               Global Biotic Interactions (GloBI)
2        Global Climate                   Global Climate Data Since 1929
3       CommonCraw 2012              3.5B Web Pages from CommonCraw 2012
4     Indiana Webclicks  53.5B Web clicks of 100K users in Indiana Univ.
5  Criteo click-through                        Criteo click-through data

## Filter data based on `LOC` and `iLOC`

## `LOC`

In [237]:
# data.loc[rows,columns]
# rows= need to be `indexed`
# columns = needs to be in `string`

data.loc[0:3,'about':'cloud']

,about,link,categoryName,cloud
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN
3,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN

## `iLOC`

In [238]:
# data.iloc[rows,columns]
# rows= needs to be `indexed`
# columns = needs to be `indexed`

data.iloc[0:3,1:3]

,about,link
0,American Gut (Microbiome Project),https://github.com/biocore/American-Gut
1,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...
2,Global Climate Data Since 1929,http://en.tutiempo.net/climate

## Filter based on category

In [239]:
data.loc[data['categoryName']=='Natural Language']

,datasetName,about,link,categoryName,cloud,vintage
21,Google 5gram,"Google Web 5gram (1TB, 2006)",https://catalog.ldc.upenn.edu/LDC2006T13,Natural Language,NaN,2006.0
22,"Arabic, 30K articles",SaudiNewsNet Collection of Saudi Newspaper Art...,https://github.com/ParallelMazen/SaudiNewsNet,Natural Language,GitHub,NaN
23,USENET postings,USENET postings corpus of 2005~2011,http://www.psych.ualberta.ca/~westburylab/down...,Natural Language,NaN,2005.0
55,ClueWeb09 FACC,ClueWeb09 FACC,http://lemurproject.org/clueweb09/FACC1/,Natural Language,NaN,2009.0
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN

## Sort data

In [245]:
data_sorted = data.sort_values(['categoryName','vintage'])
data_sorted

,datasetName,about,link,categoryName,cloud,vintage
47,USDA PLANTS,U.S. Department of Agriculture's PLANTS Database,http://www.plants.usda.gov/dl_all.html,Agriculture,NaN,NaN
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
46,Data Packaged,Data Packaged Core Datasets,https://github.com/datasets/,Complementary Collections,GitHub,NaN
48,ClueWeb09,ClueWeb09 - 1B web pages,http://lemurproject.org/clueweb09/,Computer Networks,NaN,2009.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
49,ClueWeb12,ClueWeb12 - 733M web pages,http://lemurproject.org/clueweb12/,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN
5,Criteo click-through,Criteo click-through data,http://labs.criteo.com/2015/03/criteo-releases...,Computer Networks,NaN,NaN
6,ICWSM 2009,ICWSM Data Challenge (since 2009),http://icwsm.cs.umbc.edu/,Data Challenges,NaN,2009.0
7,KDD Cup,KDD Cup by Tencent 2012,http://www.kddcup2012.org/,Data Challenges,NaN,2012.0
8,Localytics Data,Localytics Data Visualization Challenge,https://github.com/localytics/data-viz-challenge,Data Challenges,GitHub,NaN
9,Yelp Dataset,Yelp Dataset Challenge,http://www.yelp.com/dataset_challenge,Data Challenges,NaN,NaN
10,Bruteforce Database,Bruteforce Database,https://github.com/duyetdev/bruteforce-database,Data Challenges,GitHub,NaN
51,UK-DALE,UK Domestic Appliance-Level Electricity (UK-DA...,http://www.doc.ic.ac.uk/~dk3810/data/,Energy,NaN,2016.0
50,DEFRA Projects,DEFRA Science and Research Projects data,http://randd.defra.gov.uk/,Energy,NaN,NaN
11,Countries,List of all countries in all languages,https://github.com/umpirsky/country-list,GIS,GitHub,NaN
12,TwoFishes,TwoFishes - Foursquare's coarse geocoder,https://github.com/foursquare/twofishes,GIS,GitHub,NaN
13,World countries,World countries in multiple formats,https://github.com/mledoze/countries,GIS,GitHub,NaN
52,Landsat 8,Landsat 8 on AWS,https://aws.amazon.com/public-data-sets/landsat/,GIS,Amazon,NaN
53,Reverse Geocode,Simple but fast reverse geocoding up to city g...,https://github.com/kno10/reversegeocode,GIS,GitHub,NaN
14,Cities and countries,A list of cities and countries contributed by ...,https://github.com/caesar0301/awesome-public-d...,Government,GitHub,NaN
15,Ebola cases,Number of Ebola Cases and Deaths in Affected C...,https://data.hdx.rwlabs.org/dataset/ebola-case...,Healthcare,NaN,2014.0
54,Faces Database,10k US Adult Faces Database,http://wilmabainbridge.com/facememorability2.html,Image Processing,NaN,NaN
16,eBay Online,eBay Online Auctions (2012),http://www.modelingonlineauctions.com/datasets,Machine Learning,NaN,2012.0
17,New Yorker Captions,New Yorker caption contest ratings,https://github.com/nextml/caption-contest-data,Machine Learning,GitHub,NaN
18,Cooper-Hewitt's Collection,Cooper-Hewitt's Collection Database,https://github.com/cooperhewitt/collection,Museums,GitHub,NaN
19,Minneapolis Institute,Minneapolis Institute of Arts metadata,https://github.com/artsmia/collection,Museums,GitHub,NaN
20,Tate Collection,Tate Collection metadata,https://github.com/tategallery/collection,Museums,GitHub,NaN
23,USENET postings,USENET postings corpus of 2005~2011,http://www.psych.ualberta.ca/~westburylab/down...,Natural Language,NaN,2005.0
21,Google 5gram,"Google Web 5gram (1TB, 2006)",https://catalog.ldc.upenn.edu/LDC2006T13,Natural Language,NaN,2006.0
55,ClueWeb09 FACC,ClueWeb09 FACC,http://lemurproject.org/clueweb09/FACC1/,Natural Language,NaN,2009.0
56,ClueWeb12 FACC,ClueWeb12 FACC,http://lemurproject.org/clueweb12/FACC1/,Natural Language,NaN,2012.0
22,"Arabic, 30K articles",SaudiNewsNet Collection of Saudi Newspaper Art...,https://github.com/ParallelMazen/SaudiNewsNet,Natural Language,GitHub,NaN
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN
24,Datahub.io,Datahub.io,https://datahub.io/dataset,Search Engines,NaN,NaN
26,Facebook Data,Facebook Data Scrape (2005),https://archive.org/details/oxford-2005-facebo...,Social Networks,NaN,2005.0
27,LAW graphs,Facebook Social Networks from LAW (since 2007),http://law.di.unimi.it/datasets.php,Social Networks,NaN,2007.0
31,Youtube Video,"Youtube Video Social Graph in 2007,2008",http://netsg.cs.sfu.ca/youtubedata/,Social Networks,NaN,2007.0
25,Twitter Scrape CIKM,Cheng-Caverlee-Lee September 2009 - January 20...,https://archive.org/details/twitter_cikm_2010,Social Networks,NaN,2009.0
30,Twitter Scrape,Twitter Scrape Calufa May 2011,http://archive.org/details/2011-05-calufa-twit...,Social Networks,NaN,2011.0
28,Foursquare from,Foursquare from UMN/Sarwat (2013),https://archive.org/details/201309_foursquare_...,Social Networks,NaN,2013.0
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0
29,Skytrax' Air,Skytrax' Air Travel Reviews Dataset,https://github.com/quankiquanki/skytrax-review...,Social Networks,GitHub,NaN
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
33,GSS,General Social Survey (GSS) since 1972,http://gss.norc.org,Social Sciences,NaN,1972.0
34,Texas Inmates,Texas Inmates Executed Since 1984,http://www.tdcj.state.tx.us/death_row/dr_execu...,Social Sciences,NaN,1984.0
32,FBI Hate Crime 2013,FBI Hate Crime 2013 - aggregated data,https://github.com/emorisse/FBI-Hate-Crime-Sta...,Social Sciences,GitHub,2013.0
35,Formula 1,"Ergast Formula 1, from 1950 up to date (API)",http://ergast.com/mrd/db,Sports,NaN,1950.0
36,Pinhooker: Thoroughbred,Pinhooker: Thoroughbred Bloodstock Sale Data,https://github.com/phillc73/pinhooker,Sports,GitHub,NaN
43,Plane Crash,"Plane Crash Database, since 1920",http://www.planecrashinfo.com/database.htm,Transportation,NaN,1920.0
45,U.S. Freight,U.S. Freight Analysis Framework since 2007,http://ops.fhwa.dot.gov/freight/freight_analys...,Transportation,NaN,2007.0
37,Airlines OD,Airlines OD Data 1987-2008,http://stat-computing.org/dataexpo/2009/the-da...,Transportation,NaN,2008.0
39,NYC Taxi,NYC Taxi Trip Data 2009-,http://www.nyc.gov/html/tlc/html/about/trip_re...,Transportation,NaN,2009.0
44,U.S. Domestic,U.S. Domestic Flights 1990 to 2009,http://academictorrents.com/details/a2ccf94bbb...,Transportation,NaN,2009.0
40,FOIA/FOILed,NYC Taxi Trip Data 2013 (FOIA/FOILed),https://archive.org/details/nycTaxiTripData2013,Transportation,NaN,2013.0
41,NYC Uber,NYC Uber trip data April 2014 to September 2014,https://github.com/fivethirtyeight/uber-tlc-fo...,Transportation,GitHub,2014.0
38,BSS,Bike Share Systems (BSS) collection,https://github.com/BetaNYC/Bike-Share-Data-Bes...,Transportation,GitHub,NaN
42,Open Traffic,Open Traffic collection,https://github.com/graphhopper/open-traffic-co...,Transportation,GitHub,NaN

## dropping NaN values

In [247]:
data_sorted.dropna()

,datasetName,about,link,categoryName,cloud,vintage
32,FBI Hate Crime 2013,FBI Hate Crime 2013 - aggregated data,https://github.com/emorisse/FBI-Hate-Crime-Sta...,Social Sciences,GitHub,2013.0
41,NYC Uber,NYC Uber trip data April 2014 to September 2014,https://github.com/fivethirtyeight/uber-tlc-fo...,Transportation,GitHub,2014.0

In [243]:
pd.set_option('display.max_rows',None)

## insert a new column

In [212]:
data_sorted['newCol1'] = ""

In [215]:
data_sorted['newCol1'] = [data_sorted['vintage'].astype(str)+"-"+data_sorted['cloud'].astype(str)]

ValueError: Length of values (1) does not match length of index (61)

In [177]:
data_sorted[data_sorted['vintage'].isnull()]

,datasetName,about,link,categoryName,cloud,vintage,newCol1
47,USDA PLANTS,U.S. Department of Agriculture's PLANTS Database,http://www.plants.usda.gov/dl_all.html,Agriculture,NaN,NaN,nan-nan
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN,nan-GitHub
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN,nan-GitHub
46,Data Packaged,Data Packaged Core Datasets,https://github.com/datasets/,Complementary Collections,GitHub,NaN,nan-GitHub
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN,nan-nan
5,Criteo click-through,Criteo click-through data,http://labs.criteo.com/2015/03/criteo-releases...,Computer Networks,NaN,NaN,nan-nan
8,Localytics Data,Localytics Data Visualization Challenge,https://github.com/localytics/data-viz-challenge,Data Challenges,GitHub,NaN,nan-GitHub
10,Bruteforce Database,Bruteforce Database,https://github.com/duyetdev/bruteforce-database,Data Challenges,GitHub,NaN,nan-GitHub
9,Yelp Dataset,Yelp Dataset Challenge,http://www.yelp.com/dataset_challenge,Data Challenges,NaN,NaN,nan-nan
50,DEFRA Projects,DEFRA Science and Research Projects data,http://randd.defra.gov.uk/,Energy,NaN,NaN,nan-nan
52,Landsat 8,Landsat 8 on AWS,https://aws.amazon.com/public-data-sets/landsat/,GIS,Amazon,NaN,nan-Amazon
11,Countries,List of all countries in all languages,https://github.com/umpirsky/country-list,GIS,GitHub,NaN,nan-GitHub
12,TwoFishes,TwoFishes - Foursquare's coarse geocoder,https://github.com/foursquare/twofishes,GIS,GitHub,NaN,nan-GitHub
13,World countries,World countries in multiple formats,https://github.com/mledoze/countries,GIS,GitHub,NaN,nan-GitHub
53,Reverse Geocode,Simple but fast reverse geocoding up to city g...,https://github.com/kno10/reversegeocode,GIS,GitHub,NaN,nan-GitHub
14,Cities and countries,A list of cities and countries contributed by ...,https://github.com/caesar0301/awesome-public-d...,Government,GitHub,NaN,nan-GitHub
54,Faces Database,10k US Adult Faces Database,http://wilmabainbridge.com/facememorability2.html,Image Processing,NaN,NaN,nan-nan
17,New Yorker Captions,New Yorker caption contest ratings,https://github.com/nextml/caption-contest-data,Machine Learning,GitHub,NaN,nan-GitHub
18,Cooper-Hewitt's Collection,Cooper-Hewitt's Collection Database,https://github.com/cooperhewitt/collection,Museums,GitHub,NaN,nan-GitHub
19,Minneapolis Institute,Minneapolis Institute of Arts metadata,https://github.com/artsmia/collection,Museums,GitHub,NaN,nan-GitHub
20,Tate Collection,Tate Collection metadata,https://github.com/tategallery/collection,Museums,GitHub,NaN,nan-GitHub
57,Google Ngrams,Google Books Ngrams (2.2TB),https://aws.amazon.com/datasets/google-books-n...,Natural Language,Amazon,NaN,nan-Amazon
22,"Arabic, 30K articles",SaudiNewsNet Collection of Saudi Newspaper Art...,https://github.com/ParallelMazen/SaudiNewsNet,Natural Language,GitHub,NaN,nan-GitHub
24,Datahub.io,Datahub.io,https://datahub.io/dataset,Search Engines,NaN,NaN,nan-nan
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN,nan-Amazon
29,Skytrax' Air,Skytrax' Air Travel Reviews Dataset,https://github.com/quankiquanki/skytrax-review...,Social Networks,GitHub,NaN,nan-GitHub
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN,nan-nan
36,Pinhooker: Thoroughbred,Pinhooker: Thoroughbred Bloodstock Sale Data,https://github.com/phillc73/pinhooker,Sports,GitHub,NaN,nan-GitHub
38,BSS,Bike Share Systems (BSS) collection,https://github.com/BetaNYC/Bike-Share-Data-Bes...,Transportation,GitHub,NaN,nan-GitHub
42,Open Traffic,Open Traffic collection,https://github.com/graphhopper/open-traffic-co...,Transportation,GitHub,NaN,nan-GitHub

## Find `Nan` in any column

In [ ]:
data_sorted.isnull().sum()

datasetName      0
about            0
link             0
categoryName     0
cloud           37
vintage         30
newCol1         37
dtype: int64

In [ ]:
data[:12]

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN
5,Criteo click-through,Criteo click-through data,http://labs.criteo.com/2015/03/criteo-releases...,Computer Networks,NaN,NaN
6,ICWSM 2009,ICWSM Data Challenge (since 2009),http://icwsm.cs.umbc.edu/,Data Challenges,NaN,2009.0
7,KDD Cup,KDD Cup by Tencent 2012,http://www.kddcup2012.org/,Data Challenges,NaN,2012.0
8,Localytics Data,Localytics Data Visualization Challenge,https://github.com/localytics/data-viz-challenge,Data Challenges,GitHub,NaN
9,Yelp Dataset,Yelp Dataset Challenge,http://www.yelp.com/dataset_challenge,Data Challenges,NaN,NaN
10,Bruteforce Database,Bruteforce Database,https://github.com/duyetdev/bruteforce-database,Data Challenges,GitHub,NaN
11,Countries,List of all countries in all languages,https://github.com/umpirsky/country-list,GIS,GitHub,NaN